@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}
.wrapp{
  height: 100%;
}

.header__top {
  background: #0d4d94;
  height: 70px;
}
.header__top_list{
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  align-items: center;
}

.header__middle{
  background: #f8f8f8;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

.header__middle_list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
 }

 .contact__list {
  display: flex;

}

 .search {
padding: 8px;
 }

.search__block{
display: flex;
flex-direction: column;
}

.header__down{
  background: #0d4d94;
  height: 70px;

}
.header__down_list{
  display: flex;
  justify-content: space-around;
  padding-top: 25px;

}
.header__top_list_link{
  color:white;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}
li{
  list-style-type: none;
}

a {
  text-decoration: none;
  font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #023d80;
}

a:hover {
color: #00a0c6;
}

.phone__num {
  display: flex;
  flex-direction: column;
  padding-left: 15px;

}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.catalog {
  display: flex;
  flex-direction: column;
}


.catalog__header{ 
  display: flex;
    padding: 20px;
    font-size: 40px;
    line-height: 30px;
    justify-content: center;
    color: #023d80;
}

.block__cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.block__cart_mini:hover .cart_img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.block__cart_mini:hover .add_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart {
display: flex;
border-bottom: 1px solid lightblue;
}

.cart:hover .cart_img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.cart:hover .add_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart:last-child {
  border-bottom: none;
}

.cart_header_text {
  font-size: 20px;
  line-height: 20px;
  color: #0d4d94;
}

.cart_header_text:hover {
  color: #00a0c6;
}
.cart_text {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #5d5d5d;
  padding-top: 12px;
  padding-bottom: 18px;
}


.marg_up {
  margin-bottom: 30px;
}

.cart_img {
   padding-right: 15px;
}

.button_catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 48px;
  margin-bottom: 98px;
}

.button_catalog_text {
  font-size: 16px;
  line-height: 19px;
  color: #00a0c6;
  padding: 15px 39px 14px;
  border: 1px solid  #00a0c6;
  background: white;
  outline: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.button_catalog_text:hover {
  background: #00a0c6;
  border: 1px solid #00a0c6;
  color: #ffffff;
  fill: #ffffff;
}

.footer_top {
  background: #0d4d94;
  height: 79px;
   display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;


}

.footer_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_top_header {
  font-size: 18px;
    line-height: 21px;
  color: black;
  text-align: center;
}

.footer_top_parag_text {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: rgba(0,0,0,.5);
}

.footer_middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f8f8f8;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 240px;
}

.footer_middle_text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  width: 400px;
}

.enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
 /* width: 356px;*/
}

.email_text {
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222224;
  opacity: 0.67;
  background: #e1e1e1;
  padding: 6px 64px 7px 22px;
  border-radius: 20px 0 0 20px;
  height: 49px;
  outline: none;
  border: none;
}

.subscribe {
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
  background:#00a0c6;
  padding: 17px 20px 15px 20px;
  height: 49px;
  border-radius: 0 20px 20px 0;
  outline: none;
  border: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.subscribe:hover {
  background:  #5f5d5e;
}

.footer_down {
  height: 79px;
  background: #0d4d94;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_down_text {
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.footer_down_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_icon {
  display: block;
  background-color: #e9eef3;
  color: #050505;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  margin-right: 7px;
  border-radius: 10px;
}

.footer_icon:hover {
  background: #00a0c6;
  color: #ffffff;
}

input {
  outline: none;
}
/*шаблон статьи*/

.header_articles{
  width: 270px;
  color: #222224;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}
.header_articles:hover{
  color: #00a0c6;
}
/*конец шаблон*/

/*1024*/
@media (max-width: 1200px){

  .block_1024{
    display: flex;
    flex-direction: column ;
  }

  .header__middle {
     padding: 0px 15px;
  }
  .swiper-container{
    height: 400px;
  }
  .header__top_list {
    justify-content: space-around;
  }

  .address {
    flex-direction: column;
  }
  .address__map {
    width: 100%;
}
iframe{
  width: 100%;
}

 }

/* 768*/
@media (max-width: 1023px) {
  .contact__list {
    flex-direction: column;
  }

  iframe {
    height: 350px;
    width: 736px;
  }

  .center {
    padding-left: 16px;
    padding-right: 16px;
  }


  .sertificat {
    flex-direction: column;
    align-items: center;
  }
  .sertificat__img {
    width: 361px;
  }

  .line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .marg_up {
    margin-bottom: 16px;
  }
  .button_catalog {
    margin-top: 16px;
    margin-bottom: 64px;
  }
  .footer_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 79px;
  }
  .footer_box {
    width: 360px;
  }
  .footer_middle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 580px;
  }

  .logo__footer {
    width: 100%;
  }
  .catalog {
    padding-bottom: 20px;
    /*product*/
  }
  .catalog_product {
    margin-bottom: 80px;
    /*cart*/
  }
  .card-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 56px;
    margin-bottom: 128px;
  }
  .info_card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: revert;
            flex-direction: revert;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card {
    width: 100%;
  }
  .card-content_button {
    padding-left: 130px;
    padding-right: 130px;
    margin-bottom: 64px;
  }
  .total {
    margin-top: 39px;
    /*registrations*/
  }
  .card_registration {
    padding-bottom: 96px;
  }
  .registr_header {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
  .registr_text {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
  .registr_ol {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
  
}

/* 375*/
@media (max-width: 667px) {
  .address__map {
    width: 361px;
  }

  .address__text {
    width: 361px;
}

  .header__top{
    height: 120px; 
 }

  .header__top_list{
    display: flex;
    flex-direction: column;
    padding-top: 18px;
  }

.header__middle{
    height: 250px;
  }
.header__middle_list{
  display: flex;
  flex-direction: column;
}
.header__down{
  height: 120px;
}
.header__down_list{
display: flex;
flex-direction: column;
align-items: center;
}
  .center {
    padding-left: 7px;
    padding-right: 7px;
  }
  .logo_img {
    padding-bottom: 15px;
    padding-top: 15px;
    width: 361px;
  }

   .header_right {
    padding-right: 0;
  }

  iframe {
    width: 100%;
  }
  /*iframe {
    width: 361px;
    height: 200px;
  }*/
  .catalog_text_header {
    padding-top: 64px;
  }
  .catalog_text {
    padding-bottom: 64px;
  }
  .cart {
    flex-direction: column;
  }
  .cart_img {
    width: 100%;
    padding-right: 0px;
  }
  .info_enter {
    line-height: 153.2%;
  }
  .info_enter_mini {
    font-size: 14px;
    line-height: 153.2%;
  }
  
.email_text {
  font-size: 14px;
  line-height: 17px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222224;
  opacity: 0.67;
  background: #e1e1e1;
  padding: 3px 0px 3px 6px;
  border-radius: 20px 0 0 20px;
}
  .footer_down {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 43px;
    padding-bottom: 9px;
    height: 143px;
    /*catalog*/
  }
  .footer_down_right {
    padding-right: 0;
  }
  .site_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 24px;
    padding-bottom: 46px;
  }
  .filter_text {
    display: none;
  }
  .sort_param {
    margin-left: 107px;
  }
  .param_text {
    font-size: 12px;
    line-height: 14px;
  }
  .sort_filter svg {
    width: 37px;
    height: 25px;
    /*product*/
  }
  .product_info_text {
    width: 326px;
  }
  .hr_cart_prod {
    width: 175px;
  }
  .catalog {
    padding-bottom: 48px;
    /*cart*/
  }
  .card-content {
    margin-bottom: 96px;
  }
  .card_param {
    height: 188px;
    margin-bottom: 32px;
  }
  .shopping {
    margin-right: 17px;
  }
  .card_param_header {
    font-size: 16px;
    line-height: 19px;
    padding-top: 13px;
    padding-bottom: 25px;
    width: 143px;
  }
  .card_param_text {
    font-size: 14px;
    line-height: 17px;
  }
  .card__svg {
    top: 17px;
    right: 12px;
    width: 11px;
  }
  .button_catalog_text {
    font-size: 12px;
    line-height: 14px;
    padding: 9px 17px;
  }
  .card-content_button {
    padding: 0;
    margin-bottom: 48px;
    margin-top: -2px;
  }
  .info_card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shipping {
    width: 100%;
  }
  .clear_pd {
    padding: 11px 15px;
    font-size: 11px;
    line-height: 13px;
    /*registration*/
  }
  .card_registration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 65px;
  }
}


/*slider*/

[class^="swiper-button-"] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.swiper-slide {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 80%;
  height: 500px;
  float: left;
  -webkit-transition: opacity .6s ease, -webkit-transform .3s ease;
  transition: opacity .6s ease, -webkit-transform .3s ease;
  transition: opacity .6s ease, transform .3s ease;
  transition: opacity .6s ease, transform .3s ease, -webkit-transform .3s ease;
}
.swiper-container.nav-slider {
  width: 20%;
  padding-left: 5px;
}
.swiper-container.nav-slider .swiper-slide {
  cursor: pointer;
  opacity: .4;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.swiper-container.nav-slider .swiper-slide.swiper-slide-active {
  opacity: 1;
}
.swiper-container.nav-slider .swiper-slide .content {
  width: 100%;
}
.swiper-container.nav-slider .swiper-slide .content .title {
  font-size: 20px;
}
.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.swiper-container.loading {
  opacity: 0;
  visibility: hidden;
}

.swiper-slide {
  overflow: hidden;
}
.swiper-slide .slide-bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.swiper-slide .entity-img {
  display: none;
}
.swiper-slide .content {
  position: absolute;
  top: 40%;
  left: 0;
  width: 50%;
  padding-left: 5%;



  color: #000;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Proxima Nova Bl';
    line-height: 61px;
    text-shadow: 0px 20px 25px rgb(0 0 0 / 50%);
}
.swiper-slide .content .title {
  font-size: 2.6em;
  font-weight: bold;
  margin-bottom: 30px;
}
.swiper-slide .content .caption {
  display: block;
  font-size: 13px;
  line-height: 1.4;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  opacity: 0;
  -webkit-transition: opacity .3s ease, -webkit-transform .7s ease;
  transition: opacity .3s ease, -webkit-transform .7s ease;
  transition: opacity .3s ease, transform .7s ease;
  transition: opacity .3s ease, transform .7s ease, -webkit-transform .7s ease;
}
.swiper-slide .content .caption.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

[class^="swiper-button-"] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
}

.swiper-button-prev {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.swiper-button-next {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

/*contacts*/
.sertificat {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
 /* flex-wrap: wrap;*/
}

.address {
  display: flex;
  justify-content: space-between;  
  margin-bottom: 30px;
 /* border-bottom: 1px solid lightblue;*/


}

.address:last-child {
  /*border-bottom: none;*/ 

}
